.expenses {
  padding: 1rem;
  background-color: rgb(31, 31, 31);
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}

.empty-state-text {
  color: white;
  text-align: center;
  padding: 32px 0;
}
